body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(120deg, #56c596, #0377ca, rgb(70, 74, 173));
    background-size: 200% 300%;
}
  
.top-heading {
    position: absolute;
    padding: 5px 15px;
    top: 0px;
    left: 50%;
    width: 100%;
    margin-top: 0%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.4);
}

.top-heading-text {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #FFFFFF;
    margin: 0;
    padding: 8px;
}

.container {
    width: 1100px;
    height: 320px; 
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.right-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
}

h2 {
    font-size: 1.4rem;
    font-weight: 320;
}

.inputbox {
    width: 100%;
}
  
.input {
    padding: 14px 16px;
    border: none;
    border-radius: 10px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    color: #FFFFFF;
}

.input {
    -moz-appearance: textfield; /* Firefox */
    -webkit-appearance: none;  /* Chrome, Safari, Edge */
    appearance: none;
}
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input::placeholder {
    color: #ffffff;
    opacity: 1; 
    font-weight: bolder;
}

.validation-container {
    display: flex;
    font-size: 0.8rem;
}

.resend-otp {
    flex: 1;
    margin: -8px;
    padding-left: 8%;
    transition: transform 0.2s ease;
}

.resend-otp:hover {
    transform: scale(1.1);
}

.timer {
    flex: 1;
    margin: -8px;
    padding-right: 6%;
}
  
.btn {
    padding: 10px 20px;
    background-color: #37cd49;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #2ea93f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.bottom-heading {
    position: absolute;
    padding: 5px 15px;
    bottom: 0px;
    left: 50%;
    width: 100%;
    margin-top: 0%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.4);
}

.bottom-heading-text {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #FFFFFF;
    margin: 0;
    padding: 4px;
}


